.item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(241, 240, 240);
  margin-right: 1rem;
  font-family: 'Roboto', sans-serif;
}

.item-wrapper img {
  width: 150px;
  height: 150px;
  margin: 1rem;
}
.item-info-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.item-quantity {
  display: flex;
  width: 5rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
}
.item-quantity button {
  background-color: rgb(241, 240, 240);
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.quantity-active {
  display: block;
}
.quantity-deactive {
  display: hidden;
}
.item-info {
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
}
.item-info p {
  font-weight: bold;
}
.item-info button {
  outline: none;
}
.item-info-remove-btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(67, 67, 67);
  transition: 0.2s;
}
.item-info-remove-btn:hover {
  color: black;
  font-weight: bold;
}
