.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.profile-wrapper {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.profile-wrapper p {
  font-size: 1.2rem;
  font-weight: 550;
}
.profile-link {
  margin-top: 2rem;
  text-decoration: none;
  font-weight: 550;
  color: black;
  font-size: 1.2rem;
  transition: 0.25s;
}
.profile-link:hover {
  color: orange;
}

.profile-wrapper button {
  width: 10.8rem;
  height: 2rem;
  background-color: transparent;
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 550;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.profile-icon {
  width: 50px;
  height: 50px;
  margin: 2rem 0rem 3rem 0rem;
}
.profile-notloged {
  margin-top: 5rem;
}
.profile-order-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.profile-order-container h2 {
  margin-top: 2rem;
  border-bottom: 2px solid black;
  width: 15%;
}

.profile-no-order {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.profile-no-order-image{
  width: 100%;
}